@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}
.glitch {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: flicker 2s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #ff00ff;
  z-index: -1;
}

.glitch::before {
  animation: glitchTop 2s infinite linear alternate-reverse;
}

.glitch::after {
  animation: glitchBottom 2s infinite linear alternate-reverse;
}

@keyframes glitchTop {
  0% {
    clip-path: inset(0 0 80% 0);
    transform: translate(-3px, -3px);
  }
  50% {
    clip-path: inset(10% 0 40% 0);
    transform: translate(3px, 2px);
  }
  100% {
    clip-path: inset(80% 0 0 0);
    transform: translate(-1px, -2px);
  }
}

@keyframes glitchBottom {
  0% {
    clip-path: inset(80% 0 0 0);
    transform: translate(3px, 2px);
  }
  50% {
    clip-path: inset(10% 0 40% 0);
    transform: translate(-2px, -3px);
  }
  100% {
    clip-path: inset(0 0 80% 0);
    transform: translate(1px, 1px);
  }
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0;
  }
}

